.job-detail-view__title {
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
}

.job-detail-view__job-id {
    font-size: 16px;
    margin-top: 7px;
    color: #888;
    margin-left: 10px;
}

.job-detail-view__output {
    background-color: #FFF;
    margin: 0 24px;
    padding: 15px 20px;
    height: calc(100vh - 257px);
    overflow: auto;
}

.job-detail-view__bottom {
    padding: 0 24px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    height: 35px;
}

.job-detail-view__plots-button {
    margin-left: 40px;
}

.job-detail-view__config-button {
    margin-left: 20px;
}

.job-detail-view__download-button {
    margin-left: 20px;
}
