.job-listing-view {
    max-width: 700px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.job-listing-view__title {
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.job-listing-view__filter {
    position: absolute;
    top: 40px;
    right: 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    border: 1px solid transparent;
    width: 150px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #333;
    box-sizing: border-box;
    padding: 8px 10px;
    background-color: #FFF;
    border-radius: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGQ9Ik03IDEwbDUgNSA1LTV6IiBmaWxsPSIjMzMzIiAvPgo8L3N2Zz4K);
    background-repeat: no-repeat;
    background-position: right center;
}

.job-listing-view__filter:focus {
    outline: none;
    border-color: #CCC;
}

.job-listing-view__import {
    position: absolute;
    right: 210px;
    top: 39px;
}

.job-listing-view__labels {
    display: flex;
    border-bottom: 1px solid #DDD;
}

.job-listing-view__job {
    display: flex;
    cursor: pointer;
    border-bottom: 1px solid #DDD;
}

.job-listing-view__job:hover {
    background-color: #EEE;
}

.job-listing-view__labels__id,
.job-listing-view__labels__time,
.job-listing-view__labels__username,
.job-listing-view__labels__status,
.job-listing-view__job__id,
.job-listing-view__job__time,
.job-listing-view__job__username,
.job-listing-view__job__status {
    padding: 14px 0;
    font-size: 14px;
}

.job-listing-view__labels__id,
.job-listing-view__labels__time,
.job-listing-view__labels__username,
.job-listing-view__labels__status {
    font-weight: 700;
}

.job-listing-view__labels__time,
.job-listing-view__job__time {
    width: calc(100% - 500px);
    box-sizing: border-box;
    padding-left: 20px;
}

.job-listing-view__labels__username,
.job-listing-view__job__username {
    width: 200px;
}

.job-listing-view__job__username {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 30px;
    box-sizing: border-box;
}

.job-listing-view__labels__id,
.job-listing-view__labels__status,
.job-listing-view__job__id,
.job-listing-view__job__status {
    width: 100px;
}
