.login-view {
    max-width: 300px;
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.login-view__title {
    font-size: 40px;
    margin-bottom: 40px;
    color: #333;
    font-weight: 300;
}

.login-view__input {
    width: 100%;
    border: none;
    background-color: #FFF;
    font-size: 16px;
    padding: 8px;
    display: block;
    border: 1px solid transparent;
}

.login-view__input:focus {
    outline: none;
    border-color: #DDD;
}

.login-view__password {
    margin-top: 15px;
}

.login-view__submit {
    margin-top: 40px;
}

.login-view__form-error {
    color: #F00;
    margin-top: 10px;
    font-size: 14px;
}
