.login-view {
    max-width: 300px;
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.login-view__title {
    font-size: 40px;
    margin-bottom: 40px;
    color: #333;
    font-weight: 300;
}

.login-view__input {
    width: 100%;
    border: none;
    background-color: #FFF;
    font-size: 16px;
    padding: 8px;
    display: block;
    border: 1px solid transparent;
}

.login-view__input:focus {
    outline: none;
    border-color: #DDD;
}

.login-view__password {
    margin-top: 15px;
}

.login-view__submit {
    margin-top: 40px;
    position: relative;
}

.login-view__submit.login-view--submitting .login-view__submit-text {
    opacity: 0;
}

.login-view__submit.login-view--submitting::before {
    content: "";
    display: block;
    border: 2px solid #FFF;
    border-bottom-color: transparent;
    border-left-color: transparent;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 17px;
    height: 17px;
    border-radius: 100px;
    animation: login-view__spin 0.9s linear infinite;
}

@keyframes login-view__spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}


.login-view__form-error {
    color: #F00;
    margin-top: 10px;
    font-size: 14px;
}
