.new-job-view {
    padding-bottom: 60px;
}

.new-job-view__form {
    max-width: 800px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
}

.new-job-view__form-section-title {
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.new-job-view__field {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
    padding-right: 66px;
}

.new-job-view__field.new-job-view--indented {
    padding-left: 50px;
}

.new-job-view__form label {
    display: block;
    font-size: 14px;
    flex-grow: 1;
}

.new-job-view__form input[type=text],
.new-job-view__form input[type=number] {
    display: block;
    border: 1px solid transparent;
    width: 300px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #333;
    box-sizing: border-box;
    padding: 8px 10px;
}

.new-job-view__form input[type=text]:focus,
.new-job-view__form input[type=number]:focus {
    outline: none;
    border-color: #CCC;
}

.new-job-view__form input[type=text]:disabled,
.new-job-view__form input[type=number]:disabled {
    opacity: 0.5;
    background-color: transparent;
}

.new-job-view__form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    border: 1px solid transparent;
    width: 300px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #333;
    box-sizing: border-box;
    padding: 8px 10px;
    background-color: #FFF;
    border-radius: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGQ9Ik03IDEwbDUgNSA1LTV6IiBmaWxsPSIjMzMzIiAvPgo8L3N2Zz4K);
    background-repeat: no-repeat;
    background-position: right center;
}

.new-job-view__form select:focus {
    outline: none;
    border-color: #CCC;
}

.new-job-view__form .new-job-view__checkbox-wrapper {
    width: 300px;
}

.new-job-view__form .checkbox {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}

.new-job-view__form .checkbox svg {
    display: inline-block;
    vertical-align: top;
    fill: #333;
}

.new-job-view__form .checkbox.checkbox--checked svg {
    fill: #00B600;
}

.new-job-view__help {
    position: absolute;
    right: 0;
    top: 0;
}

.new-job-view__help.new-job-view--hidden {
    visibility: hidden;
}

.new-job-view__help-button {
    margin-left: 10px;
    padding: 5px;
    cursor: pointer;
}

.new-job-view__help-button svg {
    fill: #999;
}

.new-job-view__help-menu {
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    padding: 16px;
    width: 250px;
    font-size: 14px;
    z-index: 1;
    line-height: calc(100% + 5px);
}

.new-job-view__help-menu-title {
    font-weight: 700;
    margin-bottom: 12px;
}

.new-job-view__help-menu-link {
    color: #00B600;
    margin-top: 12px;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
}

.new-job-view__help-menu-link:hover {
    text-decoration: underline;
}

.new-job-view__not-default {
    position: absolute;
    right: 45px;
    top: 14px;
    display: block;
    width: 6px;
    height: 6px;
    background-color: #00B600;
    border-radius: 50%;
}

.new-job-view__actions {
    display: flex;
    margin-top: 50px;
}

.new-job-view__action:not(:first-child) {
    margin-left: 20px;
}
