.plots-view {
    position: relative;
    height: calc(100vh - 56px);
}

.plots-view__sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 4px;
    box-sizing: border-box;
    overflow: auto;
}

.plots-view__sidebar__back {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 10px;
}

.plots-view__sidebar__back:hover {
    background-color: #E9E9E9;
}

.plots-view__sidebar__back svg {
    fill: #333;
}

.plots-view__sidebar__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* display: block;
    padding: 12px 20px; */
    margin-left: 40px;
    border: 1px solid transparent;
    width: 100px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #333;
    box-sizing: border-box;
    padding: 8px 10px;
    background-color: #FFF;
    border-radius: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGQ9Ik03IDEwbDUgNSA1LTV6IiBmaWxsPSIjMzMzIiAvPgo8L3N2Zz4K);
    background-repeat: no-repeat;
    background-position: right center;
}

.plots-view__sidebar__select:focus {
    outline: none;
    border-color: #CCC;
}

.plots-view__sidebar__item {
    padding: 12px 20px;
    border-right: 4px solid transparent;
    cursor: pointer;
    font-size: 14px;
}

.plots-view__sidebar__item:hover {
    background-color: #EEE;
}

.plots-view__sidebar--active {
    border-right-color: #00B600;
}

.plots-view__non-sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 400px);
    height: 100%;
    background-color: #FFF;
}

.plots-view__no-plot {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px 10px;
}

.plots-view__plot {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.plots-view--has-slider .plots-view__plot {
    height: calc(100% - 50px);
}

.plots-view__slider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.plots-view__non-sidebar:not(.plots-view--has-slider) .plots-view__slider {
    display: none;
}

.plots-view__slider-label {
    margin-left: 20px;
    font-size: 14px;
}

.plots-view__slider-number {
    margin-left: 8px;
    width: 60px;
    font-size: 14px;
}

.plots-view__slider-input {
    flex-grow: 1;
    margin-right: 24px;
}
