.user-listing-view {
    max-width: 700px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.user-listing-view__title {
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.user-listing-view__create-button {
    position: absolute;
    top: 40px;
    right: 24px;
}

.user-listing-view__users {
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
}

.user-listing-view__user {
    border-bottom: 1px solid #DDD;
    position: relative;
}

.user-listing-view__user__title {
    background-color: #FFF;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.user-listing-view__user__title:hover {
    background-color: #F9F9F9;
}

.user-listing-view__user__username {
    padding: 14px;
    font-size: 14px;
    box-sizing: border-box;
}

.user-listing-view__user__admin {
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 10px;
    box-sizing: border-box;
    background-color: #999;
    border-radius: 100px;
    color: #FFF;
}

.user-listing-view__user__delete-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    box-sizing: border-box;
    padding: 0 14px;
    padding-top: 10px;
    cursor: pointer;
}

.user-listing-view__user__delete-button svg {
    fill: #999;
}

.user-listing-view__user__delete-button:hover svg {
    fill: #666;
}
